<div *ngFor="let product of allProducts; let i = index;" class="card" [ngClass]="{featured: i % 4 === 0}">
  <img [src]="product['Image Src']" alt="" class="card-img">
  <h1 class="card-title"><a [routerLink]="'product/' + product['Handle']">{{product['Title']}}</a></h1>
  <h4 class="card-price">{{product['Variant Price'] | currency}}</h4>
</div>
