:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1rem 1rem rgba(black, 0.05), 0 0 0.25rem rgba(black, 0.1);
}

.featured {
  grid-column: span 2;
  @media screen and (max-width: 38rem) {
    grid-column: 1;
  }
}

.card-title {
  flex-basis: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;

  a {
    text-decoration: none;
    color: #2378ff;
  }
}

.card-price {
  padding: 0 1rem 1rem;
  margin: 0;
}

.card-img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  background-color: #f7f7f7;

  img {
    width: 100%;
    height: 100%;
  }
}
