<div class="loading" *ngIf="!product">Loading...</div>

<div class="content" *ngIf="product">
  <a class="back" routerLink="/">👈 Back to products</a>

  <h1 class="title">{{product[ 'Title' ]}}</h1>
  <h2 class="price">{{product[ 'Variant Price' ] | currency}}</h2>
  <img [src]="product['Image Src']" alt="" class="image">
  <p class="desc" [innerHTML]="product['Body (HTML)'] | html"></p>
</div>

