:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 60vw;
  @media screen and (max-width: 768px) {
    max-width: 100vw;
    padding: 2rem;
  }
}

.title {
  font-size: 2rem;
  flex-basis: 100%;
}

.price {
  font-size: 1.2rem;
}

.desc {
  font-size: 1rem;
}

.back {
  padding: 0.5rem 1rem;
  background-color: #2378ff;
  color: #f7f7f7;
  text-decoration: none;
  border-radius: 0.2rem;
}

.image {
  flex-basis: 100%;
  height: 20rem;
  object-fit: contain;
  background-color: #f7f7f7;

  img {
    width: 100%;
    height: 100%;
  }
}
